*{
  /*todos os elementos da página*/
  margin: 0;
  padding: 0;
}

#titulo {
  text-align: center;
  /*elementos do id título*/
  font-family: sans-serif;
  /*fonte*/
  color: #380B61;  
  margin: 20px 0 10 10;
  /*margem do lado esquerdo*/
}

#subtitulo {
  /*todos do id subtítulo*/
  font-family: sans-serif;
  color: #380B61;
}



body {
  /*elementos da tag body*/
  background-color: #F0F8FF;
  /*cor de fundo*/
  font-family: sans-serif;
  font-size: 1em;
  /*tamanho da fonte*/
  color: #59429D;
  /*cor da parte do check box*/
}

input, select, textarea, button {
  width: 50%;
  /*elementos das tags acima*/
  border-radius: 20px;
  /*formato das bordas, deixou esse aspecto arredondado*/
}

.campo {
  
  display: flex;
  flex-direction: column;
  align-items: center;

  /*elementos de classe campo*/
  margin-bottom: 1em;
  /*margens dos campos de respostas*/
}

.campo-genero-titulo {
  margin-bottom: 1em;

  display: flex;
  flex-direction: column;
  align-items: center;

}

.campo label {
  /*elementos de classe campo e de tag label*/
  color: #59429d;
  display: flex;
}

fieldset .grupo {
  float: left;
  margin-right: 1em;
}

.campo input[type="text"], .campo input[type="email"], .campo select, .campo textarea {
  padding: 0.2em;
  border: 1px solid #59429d;
  box-shadow: 4px 4px 4px rgba(0,0,0,0.2);
  display: block;
}

.campo select option {
  padding-right: 1em;
}

.campo input:focus, .campo select:focus, .campo textarea:focus {
  background:#E0E0F8;
}

.grupo-titulo{
  display: flex;
  justify-content: center;
}

.div-botao{
  display: flex;
  justify-content: center;
}
.botao {
  
  font-size: 1.2em;
    background: #59429d;
  border: none;

  margin-bottom: 1em;
  color: #ffffff;
  padding: 0.2em 0.6em;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
  text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}

.botao:hover {
  background: #ccbbff;
  box-shadow: inset 2px 2px 2px rgba(0,0,0,0.2);
  text-shadow: none;
}